/* .root {
  display: flex;
  justify-content: space-between;

  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 8px;
  @media only screen and (min-width: 360px) {
    margin: 0 12px;
  }
  @media only screen and (min-width: 640px) {
    margin: 0 16px;
  }
  @media only screen and (min-width: 1024px) {
    margin: 0 auto;
    width: 960px;
  }
  @media only screen and (min-width: 1280px) {
    margin: 0 auto;
    width: 1200px;
  }
} */
