/* .root {
  @apply flex items-stretch justify-evenly;

  &.removePadding{
    padding: 0;
  }

  &.row {
    @apply flex-row space-x-4;
    @media only screen and (min-width: 360px) {
      @apply space-x-3;
    }
    @media only screen and (min-width: 640px) {
      @apply space-x-5;
    }
    @media only screen and (min-width: 1024px) {
      @apply space-x-7;
    }   
  }

  
  &.column {
    @apply flex-col space-y-2;
  }

  margin-left: 0px !important;

}

.topRounded{
  border-radius: 50px 50px 0px 0px;
  margin-top: -50px !important;
  background: var(--default) !important;
}

.backgroundColor--primary{
  background-color: var(--primary);
}

.backgroundColor--transparent{
  background-color: transparent;
}

.backgroundImage{
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
} */