.root {
  /* @apply inline-flex space-x-2 items-center font-medium h-full font-semi-bold; */

  &.fullWidth {
    width: 100%;
  }

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
  }
  &:active {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2) 0 0);
  }
}

.buttonPadding--small{
  padding: 4px 10px;
}
.buttonPadding--medium{
  padding: 6px 16px;
}
.buttonPadding--large{
  padding: 8px 20px
}

.iconSize--small{
  @apply text-base;
}
.iconSize--medium{
  @apply text-xl;
}
.iconSize--large{
  @apply text-2xl;
}

.textSize--small{
  @apply text-sm;
}
.textSize--medium{
  @apply text-base;
}
.textSize--large{
  @apply text-lg;
}


/* Structure:   1. Variant
                2. Color
*/

.buttonVariant--contained{

  &.buttonColor--light{
    background-color: var(--default);
    color: var(--primary);
  }
  &.buttonColor--primary{
    background-color: var(--primary);
    color: var(--text-light)
  }
  &.buttonColor--primary-2{
    background-color: var(--primary-2);
    color: var(--primary)
  }
  &.buttonColor--secondary{
    background-color: var(--secondary);
    color: var(--text-light)
  }
  &.buttonColor--secondary-2{
    background-color: var(--secondary-2);
    color: var(--secondary)
  }
  &.buttonColor--default{
    background-color: var(--default);
    color: var(--text-default)
  }
  &:disabled{
    background-color: var(--accents-4) !important;
    color: var(--text-disabled) !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0 0) !important;
  }

}

.buttonVariant--outlined{
  border-width: 1px;

  &.buttonColor--light{
    border-color: var(--text-light);
    color: var(--text-light)
  }
  &.buttonColor--primary{
    border-color: var(--primary);
    color: var(--primary)
  }
  &.buttonColor--primary-2{
    border-color: var(--primary-2);
    color: var(--primary-2)
  }
  &.buttonColor--secondary{
    border-color: var(--secondary);
    color: var(--secondary)
  }
  &.buttonColor--secondary-2{
    border-color: var(--secondary-2);
    color: var(--secondary-2)
  }
  &.buttonColor--default{
    border-color: var(--text-default);
    color: var(--text-default)
  }
  &.buttonColor--default-2{
    border-color: var(--accents-5);
    color: var(--accents-5)
  }
  &:disabled{
    border-color: var(--text-disabled) !important;
    color: var(--text-disabled) !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0 0) !important;
  }

}

.buttonVariant--text, .buttonVariant--icon{

  &.buttonColor--light{
    color: var(--text-light)
  }
  &.buttonColor--primary{
    color: var(--primary)
  }
  &.buttonColor--primary-2{
    color: var(--primary-2)
  }
  &.buttonColor--secondary{
    color: var(--secondary)
  }
  &.buttonColor--secondary-2{
    color: var(--secondary-2)
  }
  &.buttonColor--default{
    color: var(--text-default)
  }
  &:disabled{
    color: var(--text-disabled) !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0 0) !important;
  }
}
