/* .content--left{
  align-items: flex-start;
}
.content--center{
  align-items: center;
}
.content--right{
  align-items: flex-end;
}
.button--left{
  justify-content: flex-start;
}
.button--center{
  justify-content: center;
}
.button--right{
  justify-content: flex-end;
}

.backgroundImage{
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
} */