/* .root {
  @apply flex;
  height: 100%;

  &.row {
    @apply flex-row;

    &.spacing{
      @apply space-x-4;
      @media only screen and (min-width: 360px) {
        @apply space-x-3;
      }
      @media only screen and (min-width: 640px) {
        @apply space-x-5;
      }
      @media only screen and (min-width: 1024px) {
        @apply space-x-7;
      }   
    }
  }

  &.column {
    @apply flex-col space-y-2;
  }

  margin-left: 0px !important;
}

.fullWidth{
  width: 100%;
}

.vert--top {
  @apply justify-start;
}
.vert--middle {
  @apply justify-center;
}
.vert--bottom {
  @apply justify-end;
}

.horz--left {
  @apply items-start;
}
.horz--center {
  @apply items-center;
}
.horz--right {
  @apply items-end;
}    

.between {
  justify-content: space-between;
}

.gutter-bottom {
  margin-bottom: .5em;
} */
