/* .root {
}

.overlay{
  @apply fixed h-full w-full;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background-color .5s ease;
  z-index: 99999;
  &.showOverlay{
    background-color: rgba(0, 0, 0, 0.3);
  }
  &.menuOverlay{
    background-color: transparent;
  }
  &.drawerOverlay{
  }
  &.fullscreenOverlay{
  }
  &.popoverOverlay{
    @apply flex items-center justify-center;
  }
}

.childrenContainer {
  position: fixed;
}

.modalVariant--menu{
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  transform: scale(.4);
  opacity: 0;
  transition: opacity 251ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 167ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  &.showChildren{
    transform: scale(1);
    opacity: 1;
  }
}

.modalVariant--fullscreen{
  overflow-y: auto;
  background-color: var(--default);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transform 250ms ease;
  display: flex;
  flex-direction: column;
  &.from--top {
    transform: translate(0%, -100%);
    &.showChildren{
      transform: scale(1);
      transform: translate(0%, 0%);
    }
  }
  &.from--bottom {
    transform: translate(0%, 200%);
    &.showChildren{
      transform: scale(1);
      transform: translate(0%, 0%);
    }
  }
  &.from--left {
    transform: translate(-100%, 0%);
    &.showChildren{
      transform: scale(1);
      transform: translate(0%, 0%);
    }
  }
  &.from--right {
    transform: translate(200%, 0%);
    &.showChildren{
      transform: scale(1);
      transform: translate(0%, 0%);
    }
  }
}

.modalVariant--drawer{
  background-color: var(--default);
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transform 250ms ease;
  display: flex;
  flex-direction: column;
  &.from--bottom {
    top: 50%;
    padding: 16px 24px 16px 16px;
    border-radius: 20px 20px 0px 0px;
    transform: translate(0%, 200%);
    &.showChildren{
      transform: scale(1);
      transform: translate(0%, 0%);
    }
  }
  &.from--left {
    top: 0px;
    transform: translate(-100%, 0%);
    &.showChildren{
      transform: scale(1);
      transform: translate(0%, 0%);
    }
  }
  &.from--right {
    top: 0px;
    transform: translate(200%, 0%);
    &.showChildren{
      transform: scale(1);
      transform: translate(0%, 0%);
    }
  }
}

.modalVariant--popover{
  background-color: var(--default);
  transform: scale(0);
  transition: transform 175ms ease;
  display: flex; 
  flex-direction: column;
  &.showChildren{
    transform: scale(1);
  }

  &.popoverSize--small{
    max-height: 75% !important;
    width: 570px;
    border-radius: 12px;
    box-shadow: 4px 4px 16px rgba(22, 25, 56, 0.04);
  }
  &.popoverSize--medium{
    max-height: 75% !important;
    width: 992px;
    border-radius: 12px;
    box-shadow: 4px 4px 16px rgba(22, 25, 56, 0.04);
  }
  &.popoverSize--large{
    max-height: 75% !important;
    width: 1280px;
    border-radius: 24px;
    box-shadow: 0px 0px 12px rgba(16, 24, 32, 0.08);
  }
  &.popoverSize--fullscreen{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 250ms ease;
    &.from--top {
      transform: translate(0%, -100%);
      &.showChildren{
        transform: scale(1);
        transform: translate(0%, 0%);
      }
    }
    &.from--bottom {
      transform: translate(0%, 200%);
      &.showChildren{
        transform: scale(1);
        transform: translate(0%, 0%);
      }
    }
    &.from--left {
      transform: translate(-100%, 0%);
      &.showChildren{
        transform: scale(1);
        transform: translate(0%, 0%);
      }
    }
    &.from--right {
      transform: translate(200%, 0%);
      &.showChildren{
        transform: scale(1);
        transform: translate(0%, 0%);
      }
    }
  }
}

.disableOverlay{
  top: unset !important;
  left: unset !important;
  right: unset !important;
  bottom: unset !important;
} */