/* .root {
  background-color: white;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  & > .bottomNavbar {
    width: 100%;
  }

  @media only screen and (min-width: 1024px) {
    & > .bottomNavbar {
      display: none;
    }
  }

  & footer{
    margin-top: auto;
  }

}

.boxShadow{
  box-shadow: 0px 0px 12px rgba(16, 24, 32, 0.08);
}

.bottomNavbar{
  z-index: 99999;
  padding: 16px;
  background: white;
}

.header{
  z-index: 99999;
  left: 0;
  right: 0;
  position: fixed;
}

.body {
  margin-top: 64px;
  margin-bottom: 74px;
  @media only screen and (min-width: 1024px) {
    margin-top: 83px;
  }
}

.footer{
  padding-top: 50px;
  padding-bottom: 60px;
  margin: 0 8px;
  @media only screen and (min-width: 360px) {
    margin: 0 12px;
  }
  @media only screen and (min-width: 640px) {
    margin: 0 16px;
  }
  @media only screen and (min-width: 1024px) {
    margin: 0 auto;
    width: 960px;
  }
  @media only screen and (min-width: 1280px) {
    margin: 0 auto;
    width: 1200px;
  }
}
.dimNavbar{
  position: fixed;
  background: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  opacity: .3;
} */