/* .inputSize{
  font-size: 0.875rem;
  line-height: 1.0625rem;
}

.textarea {
  @apply ring-transparent focus:ring-transparent;
  padding: 10px 16px;
  width: 100%;

  &.variant--outlined {
    border: 1px solid var(--accents-2);
  }
  &.variant--contained {
    @apply border border-transparent focus:border-transparent bg-transparent;
    border: 1px solid var(--accents-2);
    &:focus{
      border: 1px solid var(--accents-2);
    }
  }
}

.inputWrapper{
  @apply flex w-full;
}

.input{
  @apply border border-transparent focus:border-transparent bg-transparent ring-transparent focus:ring-transparent outline-none focus:outline-none w-full p-0;
  padding: 10px 16px;
}


.form{
  @apply flex items-center w-full;
}

.dateIcon{
  padding-right: 16px;
}

.sRounded{
  border-radius: 8px;
}
.mRounded{
  border-radius: 12px;
}
.lRounded{
  border-radius: 24px;
}
.xlRounded{
  border-radius: 50px;
}
.fullRounded{
  border-radius: 9999999px;
}

.variant--contained{

  &.color--light{
    background-color: var(--default);
    color: var(--primary);
  }
  &.color--primary{
    background-color: var(--primary);
    color: var(--text-light)
  }
  &.color--primary-2{
    background-color: var(--primary-2);
    color: var(--primary)
  }
  &.color--secondary{
    background-color: var(--secondary);
    color: var(--text-light)
  }
  &.color--secondary-2{
    background-color: var(--secondary-2);
    color: var(--secondary)
  }
  &.color--default{
    background-color: var(--default);
    color: var(--text-default)
  }
  &.color--default-2{
    background-color: var(--accents-0);
    olor: var(--text-default)
  }
  &:disabled{
    background-color: var(--accents-4) !important;
    color: var(--text-disabled) !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0 0) !important;
  }

}

.variant--outlined{
  border-width: 1px;

  &.color--light{
    border-color: var(--text-light);
    color: var(--text-light)
  }
  &.color--primary{
    border-color: var(--primary);
    color: var(--primary)
  }
  &.color--primary-2{
    border-color: var(--primary-2);
    color: var(--primary-2)
  }
  &.color--secondary{
    border-color: var(--secondary);
    color: var(--secondary)
  }
  &.color--secondary-2{
    border-color: var(--secondary-2);
    color: var(--secondary-2)
  }
  &.color--default{
    border-color: var(--text-default);
    color: var(--text-default)
  }
  &.color--default-2{
    border-color: var(--accents-2);
    color: var(--text-default)
  }
  &:disabled{
    border-color: var(--text-disabled) !important;
    color: var(--text-disabled) !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0 0) !important;
  }
}


.search{
  @apply flex items-center justify-center;
  font-size: 0.875rem;
  line-height: 0.875rem;
  padding-left: 1.3125rem;
  padding-right: 1.3125rem;
} */
