/* 
.separator {
  font-weight: 600;
  overflow: unset !important;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--text-disabled);
}

.label {
  color: var(--text-disabled);
  font-weight: 600;
}

.step {
  @apply flex items-center space-x-2;
  margin-left: 0px;
}

.active {
  color: var(--text-default) !important;
}

.pointer {
  cursor: pointer;
} */