/* .root {
  display: flex;
  justify-content: space-between;
  
  padding-top: 16px;
  padding-bottom: 16px;
  
  width: calc(100% - 16px);
  margin: 0 8px;
  
  @media only screen and (min-width: 360px) {
    width: calc(100% - 24px);
    margin: 0 12px;
  }
  @media only screen and (min-width: 640px) {
    width: calc(100% - 32px);
    margin: 0 16px;
  }
} */
