/* .fixed {
  width: calc(100% - 16px);
  margin: 0 8px;
  
  @media only screen and (min-width: 360px) {
    width: calc(100% - 24px);
    margin: 0 12px;
  }
  @media only screen and (min-width: 640px) {
    width: calc(100% - 32px);
    margin: 0 16px;
  }
  @media only screen and (min-width: 1024px) {
    margin: 0 auto;
    width: 960px
  }
  @media only screen and (min-width: 1280px) {
    margin: 0 auto;
    width: 1200px;
  }
}
    
.root {
  @apply flex flex-col;
  
  & > * {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &.padding--none {
    padding: 0;
  }

  &.padding--small {
    @media only screen and (min-width: 360px) {
      padding: 6px 0;  
      & .header {
        margin-bottom: 6px;
      }
    }
    @media only screen and (min-width: 640px) {
      padding: 8px 0;
      & .header{
        margin-bottom: 8px;
      }
    }
    @media only screen and (min-width: 1024px) {
      padding: 12px 0;
      & .header{
        margin-bottom: 12px;
      }
    }
  }

  &.padding--normal {
    @media only screen and (min-width: 360px) {
      padding: 12px 0;  
      & .header {
        margin-bottom: 6px;
      }
    }
    @media only screen and (min-width: 640px) {
      padding: 16px 0;
      & .header{
        margin-bottom: 8px;
      }
    }
    @media only screen and (min-width: 1024px) {
      padding: 24px 0;
      & .header{
        margin-bottom: 12px;
      }
    }
  }

  &.padding--large {
    @media only screen and (min-width: 360px) {
      padding: 20px 0;  
      & .header {
        margin-bottom: 6px;
      }
    }
    @media only screen and (min-width: 640px) {
      padding: 32px 0;
      & .header{
        margin-bottom: 8px;
      }
    }
    @media only screen and (min-width: 1024px) {
      padding: 48px 0;      
      & .header{
        margin-bottom: 12px;
      }
    }
  }  

  &.vert--top {
    @apply justify-start;
  }
  &.vert--middle {
    @apply justify-center;
  }
  &.vert--bottom {
    @apply justify-end;
  }
  
  &.horz--left {
    @apply items-start;
  }
  &.horz--center {
    @apply items-center;
  }
  &.horz--right {
    @apply items-end;
  }    
  
  & > .content {  
    &.content--left {
      text-align: left;
    }
    &.content--center {
      text-align: center;
    }
    &.content--right {
      text-align: right;
    }  
  }
}

.backgroundColor--primary {
  background-color: var(--primary);
}
.backgroundColor--transparent {
  background-color: transparent;
}

.backgroundImage {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}

.backgroundCover{
  background-size: cover;
} */
