/* .header {
  background-color: var(--accents-2);
}

.children {
  @apply flex flex-col space-y-6;
}

.children--sPadding{
  padding: 8px;
}
.children--mPadding{
  padding: 16px;
}
.children--lPadding{
  padding: 32px;
}
.header--sPadding{
  padding: 4px 8px;
}
.header--mPadding{
  padding: 8px 16px;
}
.header--lPadding{
  padding: 16px 32px;
}

.sRounded{
  border-radius: 8px;
  & .header{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
.mRounded{
  border-radius: 12px;
  & .header{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}
.lRounded{
  border-radius: 24px;
  & .header{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }
}
.xlRounded{
  border-radius: 50px;
  & .header{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
}

.shadow--none {
  box-shadow: none
}
.shadow--m {
  box-shadow: 0px 0px 12px 0px #10182014;
}
.shadow--l {
  box-shadow: 0px 0px 32px 12px #1018200F;
} */