/* .numbering{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 36px;
  min-width: 72px;
  width: 72px;
  height: 72px;
  color: var(--text-light);
  background: linear-gradient(151.96deg, #FFFFFF -33.75%, rgba(255, 255, 255, 0) 82.62%), var(--primary);
  opacity: 0.5;
  font-weight: 600;
  transform: translateY(-20px);
}

.content--left{
  align-items: flex-start;
}
.content--center{
  align-items: center;
}
.content--right{
  align-items: flex-end;
}
.button--left{
  justify-content: flex-start;
}
.button--center{
  justify-content: center;
}
.button--right{
  justify-content: flex-end;
} */
