/* .menuContainer {
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.menu {
  background-color: var(--default);
  padding: 8px 0px;
  border-radius: 4px;
}

.menuItem {
  padding: 4px 16px;
  user-select: none;

  &:hover{
    background-color: rgba(0, 0, 0, 0.04);
  }
  &:active{
    background-color: rgba(0, 0, 0, 0.15);
  }
} */