/* .root {
}

.rightIcon{
  position: absolute;
  right: 0;
  top: 50%;
  & > span {
    position: absolute;
    right: 0px;
    top: -50%;
    transform: translateY(-50%);
    padding-right: 1rem;
  }
}

.input {
  @apply w-full ring-transparent focus:ring-transparent;
  border: 1px solid transparent;
  padding: 10px 16px;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  &.contained {
    background-color: var(--accents-2);
  }
  &.outlined {
    border: 1px solid var(--accents-2);
    background-color: var(--default);
  }
}

.autocomplete {
  @apply w-full;
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid var(--accents-2);
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px 16px;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  cursor: pointer;
  background-color: var(--default);
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: #1E90FF !important;
  color: #ffffff;
}

.sRounded{
  border-radius: 8px;
}
.mRounded{
  border-radius: 12px;
}
.lRounded{
  border-radius: 24px;
}
.xlRounded{
  border-radius: 50px;
} */