/* .root {
  & > * {
    margin: auto .5rem;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  &.fullWidth{
    width: 100%;
    & > * {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  &.removeSpacing{
    & > * {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
} */
