/* .header{
  padding: 8px 32px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  & .left{
    position: absolute;
  }
  & .right{
    position: absolute;
    right: 32px;
  }
}

.body{
  padding: 8px 32px;
  overflow-y: auto;
}

.footer{
  padding: 8px 32px;
  flex-shrink: 0;
} */